#include <windows.h>

140 DIALOG 0, 0, 303, 204
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
//CAPTION "INI 编辑器"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
	CONTROL "强烈推荐不要使用本编辑器，除非你真正清楚自己在做什么！", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 5, 290, 15
		CONTROL "项目小节:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 27, 52, 10
		CONTROL "", 1036, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 61, 25, 235, 85
		CONTROL "参数键:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 82, 40, 10
		CONTROL "添加", 1037, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 42, 55, 13
		CONTROL "删除", 1038, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 42, 55, 13
		CONTROL "小节内容&", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 67, 290, 130
		CONTROL "", 1039, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 60, 80, 225, 90
		CONTROL "键值:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 176, 40, 15
		CONTROL "", 1043, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 175, 225, 13
		CONTROL "添加", 1040, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 97, 40, 15
		CONTROL "删除", 1041, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 117, 40, 15
		CONTROL "插入其它 INI 文件内容", 1042, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 181, 42, 115, 13
		CONTROL "新增添加", 9982, BUTTON, BS_PUSHBUTTON | ~WS_CHILD | WS_CHILD | WS_TABSTOP, 3, 42, 55, 13
}
