#include <windows.h>
#include <resource.h>

200 DIALOG 0, 0, 302, 268
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "脚本"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "脚本类型允许你定义如一作战小队从一个路径点移动到另一路径点。一个脚本类型与小队类型相关联(不是特遣部队！)\n欲应用模板，请在下拉列表里选中一个预置模板，然后点击“新建”。\n如果预置列表里啥都没有，可以点击“刷新”以重新载入。", 50700, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 5, 288, 32
   CONTROL "脚本类型:", 50701, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 58, 41, 9
   CONTROL "", 1193, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 57, 237, 190 
   CONTROL "FA2本身的添加", 1154, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_TABSTOP | NOT WS_VISIBLE, 7, 74, 59, 14
   CONTROL "删除", 1066, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 169, 74, 59, 14 
   CONTROL "名称:", 50702, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 95, 38, 10
   CONTROL "", 1010, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 94, 237, 13 
   CONTROL "行为:", 50703, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 113, 31, 9
   CONTROL "", 1170, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 60, 111, 237, 45 
   CONTROL "行为类型:", 50704, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 183, 39, 9
   CONTROL "行为参数:", 1198, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 199, 52, 9 
   CONTROL "", 1064, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 181, 237, 186 
   CONTROL "", 1196, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 198, 237, 105 
   CONTROL "删除", 1174, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 161, 60, 14 
   CONTROL "FA2本身的添加", 1173, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_TABSTOP | NOT WS_VISIBLE, 11, 127, 35, 14
   CONTROL "说明:", 50705, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 235, 32, 9
   CONTROL "", 1407, EDIT, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 60, 232, 237, 31 
   CONTROL "复制", 9999, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 236, 74, 59, 14 
   CONTROL "复制", 9996, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 235, 161, 60, 14 
   CONTROL "插入模式", 9993, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 161, 47, 14 
   CONTROL "添加", 9992, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 101, 161, 60, 14 
   CONTROL "脚本模板:", 0, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 43, 41, 9 
   CONTROL "", 9978, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 42, 201, 188 
   CONTROL "刷新 ", 9977, BUTTON, BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 265, 41, 32, 14 
   CONTROL "添加", 9976, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 102, 74, 59, 14 
   CONTROL "附加参数:", 2101, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 215, 52, 9
   CONTROL "", 2102, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 214, 237, 105
}