#include <windows.h>
#include <resource.h>

195 DIALOG 0, 0, 300, 200
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "特遣部队"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
	CONTROL "特遣部队:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 9, 40, 10
		CONTROL "", 1144, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 67, 7, 230, 128
		CONTROL "特遣部队单位:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 87, 51, 10
		CONTROL "", 1145, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 67, 86, 224, 68
		CONTROL "添加", 1146, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 102, 40, 13
		CONTROL "删除", 1147, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 118, 40, 13
		CONTROL "小组:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 71, 45, 10
		CONTROL "", DLG_TaskForce_Edit_GroupID, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 67, 69, 224, 13
		CONTROL "单位数量:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 160, 43, 10
		CONTROL "", DLG_TaskForce_Edit_MemberCount, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 67, 158, 224, 14
		CONTROL "单位类型:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 177, 46, 10
		CONTROL "选定的特遣部队", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 39, 290, 157
		CONTROL "", 1149, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 67, 175, 224, 43
		CONTROL "删除", 1150, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 193, 23, 50, 13
		CONTROL "添加", 1151, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 23, 50, 13
		CONTROL "名称:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 55, 41, 9
		CONTROL "", DLG_TaskForce_Edit_Name, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 67, 52, 224, 13
		CONTROL "复制", 9998, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 247, 23, 50, 13
		CONTROL "复制", 9995, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 134, 40, 13
}