#include <windows.h>

#if 0
247 DIALOGEX 0, 0, 383, 205
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "触发编辑器"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
	CONTROL "选择当前触发:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 80, 10
		CONTROL "新建触发", 1383, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 191, 8, 60, 14
		CONTROL "删除触发", 1161, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 254, 8, 60, 14
		CONTROL "", 1157, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 7, 26, 306, 153
		CONTROL "Tab3", 1393, "SysTabControl32", TCS_TABS | TCS_HOTTRACK | TCS_TOOLTIPS | WS_CHILD | WS_VISIBLE, 5, 44, 375, 154, 0x00000020
		CONTROL "放置于地图 ", 1162, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 317, 8, 60, 14
		CONTROL "原版复制", 1163, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_TABSTOP, 115, 8, 60, 14
		CONTROL "复制触发", 9987, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 317, 25, 60, 14
}
#endif