#include <windows.h>

#if 0
250 DIALOG 0, 0, 366, 136
STYLE WS_CHILD
CAPTION ""
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
	CONTROL "类型(修改所有关联标记!):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 180, 31, 125, 9
		CONTROL "", 1394, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 180, 40, 175, 49
		CONTROL "名称:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 2, 264, 10
		CONTROL "", 1010, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 0, 11, 355, 13
		CONTROL "所属方:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 31, 125, 9
		CONTROL "", 1079, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 0, 40, 176, 70
		CONTROL "关联触发:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 65, 39, 9
		CONTROL "", 1080, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 0, 75, 322, 105
		CONTROL "禁止", 1412, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 327, 77, 27, 10
		CONTROL "被禁止的触发在使用前必须由其它触发进行激活。", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 83, 95, 177, 9
		CONTROL "简单", 1424, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 110, 69, 13
		CONTROL "中等", 1425, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 110, 74, 13
		CONTROL "困难", 1426, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 280, 110, 75, 13
		CONTROL "注: 满足指的是“关联的物体(不是关联触发!)” 达到了触发条件.", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 197, 53, 156, 18
}
#endif