#include <windows.h>

#if 0
182 DIALOG 0, 0, 186, 93
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "建立路径点"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
	CONTROL "确定", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 129, 72, 50, 14
		CONTROL "取消", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 72, 50, 14
		CONTROL "输入路径点编号(注意可能会覆盖已存在的路径点！)或者使用 \"获取可用编号\"。", 1285, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 172, 27
		CONTROL "", 1104, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 45, 67, 16
		CONTROL "ID:", 1310, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 34, 78, 10
		CONTROL "获取第一个可用编号", 1103, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 86, 45, 93, 16
}
#endif