#include <windows.h>

222 DIALOG 0, 0, 170, 208
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "制作人员"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
	CONTROL "彳亍 ", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 108, 9, 50, 14
		CONTROL "Matthias Wagner", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 48, 76, 9
		CONTROL "Jonathan Wilson\nOlaf van der Spek\nMatthias Wagner", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 59, 76, 28
		CONTROL "FA2 扩展组件:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 120, 63, 14
		CONTROL "FA2 小修小补:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 135, 63, 14
		CONTROL "RN 定制化:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 161, 63, 14
		CONTROL "AlexB", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 122, 76, 11
		CONTROL "Omer Strulovich\nDeeZire\nFelix Kelm\n和其他所有人!", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 85, 76, 34
		CONTROL 243, 1380, STATIC, SS_BITMAP | WS_CHILD, 143, 186, 16, 15
		CONTROL "FinalAlert2 开发者:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 38, 69, 12
		CONTROL "Harvard Bonin", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 37, 76, 9
		CONTROL "Caco\n霈然若雨（prry）\n某书纪 \n", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 135, 76, 34
		CONTROL "Zero Fanker \n", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 161, 53, 12
}
