#include <windows.h>

181 DIALOGEX 0, 0, 248, 111
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP
CAPTION ""
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
	CONTROL "FA2 RN定制版正在启动...", 1102, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 3, 221, 9
		CONTROL "Progress1", 1101, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE, 7, 15, 221, 13
		CONTROL "复仇时刻Github主页：https://github.com/Zero-Fanker/Revenge-Now/wiki", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 7, 66, 231, 20
		CONTROL "基于E1 Elite的增强版地编改制，由Caco等人修订，Zero Fanker进行RN定制化。", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 89, 221, 17
		CONTROL "版本：", 1279, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 35, 42, 9
		CONTROL "v1.02 基于FA2Copy RN 0.99版", -1, STATIC, SS_CENTER | SS_CENTERIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 52, 32, 176, 13
		CONTROL "作者：", 1280, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 50, 42, 9
		CONTROL "WW, E1 Elite, Caco, prry, Zero Fanker", -1, STATIC, SS_CENTER | SS_CENTERIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 52, 48, 176, 13
		CONTROL "", 1232, STATIC, SS_CENTER | SS_CENTERIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 74, 52, 0, 13
		CONTROL "", 1233, STATIC, SS_CENTER | SS_CENTERIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 74, 36, 0, 13
}


