#include <windows.h>

181 DIALOGEX 0, 0, 235, 100
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP
CAPTION ""
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
	CONTROL "呐，快乐的FA2正在载入中哦...", 1102, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 3, 221, 9
		CONTROL "Progress1", 1101, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE, 7, 15, 221, 13
		CONTROL "增强版地编更新博客：https://secsome.github.io", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 7, 65, 221, 11
		CONTROL "介事你没玩过的船新版本，基于E1 Elite的增强版地编改制，由Caco等人修订的船新地编。", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 80, 221, 17
		CONTROL "", 1232, STATIC, SS_CENTER | SS_CENTERIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 52, 32, 176, 13
		CONTROL "版本：", 1279, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 35, 42, 9
		CONTROL "", 1233, STATIC, SS_CENTER | SS_CENTERIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 52, 48, 176, 13
		CONTROL "作者：", 1280, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 50, 42, 9
}
