#include <windows.h>

266 DIALOG 0, 0, 239, 230
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "保存选项"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
	CONTROL "确定 ", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 178, 209, 50, 14
		CONTROL "取消", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 118, 209, 50, 14
		CONTROL "Compress map", 1417, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | ~WS_VISIBLE | WS_GROUP, 124, 22, 88, 12
		CONTROL "Don′t compress map (use this if any problems with the map occur in RA2/TS)", 1418, BUTTON, BS_AUTORADIOBUTTON | BS_MULTILINE | ~WS_VISIBLE | WS_CHILD, 186, 24, 51, 15
		CONTROL "用微缩地图建立预览 ", 1419, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 40, 150, 12
		CONTROL "使用已存在的预览 (如果可能)", 1420, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 19, 53, 141, 12
		CONTROL "不保存任何预览", 1421, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 19, 66, 141, 12
		CONTROL "Compression", -1, BUTTON, BS_GROUPBOX | ~WS_VISIBLE | WS_CHILD, 70, 25, 156, 10
		CONTROL "预览", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 29, 219, 56
		CONTROL "如想联机使用该地图，则应尽可能使地图文件尺寸更小，比如可以取消地图预览以减小地图尺寸。\n\n需要注意的是，用于DTA客户端（像MO3.3）的多人地图只能用MAP格式保存在Maps里的Customs位置下（通常如此），否则不会被客户端识别。", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 155, 219, 51
		CONTROL "地图名称:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 63, 13
		CONTROL "", 1220, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 73, 7, 153, 12
		CONTROL "2", 10001, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 53, 89, 34, 12
		CONTROL "最少玩家数:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 89, 45, 12
		CONTROL "标准模式", 1426, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 105, 67, 14
		CONTROL "近距作战", 1427, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 83, 105, 65, 14
		CONTROL "海战模式", 1428, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 161, 105, 65, 14
		CONTROL "核子战争 ", 1429, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 120, 66, 14
		CONTROL "空中对垒", 1430, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 83, 120, 65, 14
		CONTROL "巨富", 1431, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 161, 120, 80, 14
		CONTROL "陆地冲突", 1432, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 136, 59, 14
		CONTROL "协同作战", 1433, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 83, 136, 70, 14
		CONTROL "小队联盟 ", 1434, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 161, 136, 65, 14
}