#include <windows.h>
#if 0
227 DIALOG 0, 0, 710, 28
STYLE WS_CHILD
CAPTION "地形列表"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
	CONTROL "地形/地表:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 9, 41, 10
		CONTROL "", 1366, COMBOBOX, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 52, 8, 137, 169
		CONTROL "覆盖&&特殊:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 198, 9, 45, 10
		CONTROL "", 1367, COMBOBOX, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 243, 8, 137, 169
		CONTROL "地形分组:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 391, 9, 41, 10
		CONTROL "", 9983, COMBOBOX, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 470, 8, 110, 166
		CONTROL "", 9975, COMBOBOX, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 588, 8, 110, 20
		CONTROL "刷新", 9984, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 432, 8, 31, 14
}
#endif
